* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  height: 100vh;
  width: 100%;
  background: #25242f;
}

.nav-wrapper {
  height: 10vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 10vh;
  width: 20%;
  display: flex;
  align-items: center;
}
.logo h1 {
  font-size: 2.3rem;
  font-family: fantasy;
  color: #fff;
}

.links {
  height: 10vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links a {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
}

/* HERO SECTION */
.hero-section {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-left-side {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 8rem;
}

.text-left-side h1 {
  font-size: 7rem;
  font-family: fantasy;
  color: #fff;
  line-height: 9rem;
}

.text-left-side p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #b0b0b4;
  margin-top: 4rem;
  line-height: 3rem;
}

.img {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down-text {
  height: 5rem;
  width: 15rem;
  transform: rotate(270deg);
}

.scroll-down-text a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down-text a .left-arrow {
  height: 28px;
  width: 28px;
  margin-right: 1rem;
}

.scroll-down-text a p {
  text-decoration: none;
  color: #fdfcfd;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.img img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  filter: grayscale(100%);
  border-radius: 6px;
}
